In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels_list = ["Mustafa" ,"Kemal" ,"Murat" ,"Kadir" ,"Zeynep"]

In [4]:
data_list = [10 ,20 ,30 ,40 ,50]

In [6]:
pd.Series(data = data_list , index = labels_list)

Mustafa    10
Kemal      20
Murat      30
Kadir      40
Zeynep     50
dtype: int64

In [7]:
pd.Series(data = data_list ,index = labels_list)

Mustafa    10
Kemal      20
Murat      30
Kadir      40
Zeynep     50
dtype: int64

In [8]:
npArray = np.array([10 ,20 ,30 ,40 ,50])

In [9]:
pd.Series(data = npArray)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [10]:
pd.Series(data = npArray)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [11]:
pd.Series(data = npArray ,index =labels_list)

Mustafa    10
Kemal      20
Murat      30
Kadir      40
Zeynep     50
dtype: int32

In [12]:
pd.Series(data = labels_list , index = npArray)

10    Mustafa
20      Kemal
30      Murat
40      Kadir
50     Zeynep
dtype: object

In [13]:
array = np.array([10 ,15 ,20 ,25 ,30])

In [16]:
indexs = np.array(["A" ,"B" ,"C" ,"D", "E"])

In [17]:
pd.Series(data = array ,index = indexs)

A    10
B    15
C    20
D    25
E    30
dtype: int32

In [18]:
dataDict = {"Kadir" : 30 ,"Kemal" : 80 ,"Kamuran" :60}

In [19]:
pd.Series(dataDict)

Kadir      30
Kemal      80
Kamuran    60
dtype: int64

In [20]:
ser2017 = pd.Series([5 ,10 ,15 ,20] ,["Bugday" ,"Mısır" ,"Kiraz" ,"Erik"])

In [21]:
ser2018 = pd.Series([10 ,15 ,20 ,25 ] , ["Bugday" ,"Mısır" ,"Armut" ,"Erik"])

In [22]:
ser2017

Bugday     5
Mısır     10
Kiraz     15
Erik      20
dtype: int64

In [23]:
ser2018

Bugday    10
Mısır     15
Armut     20
Erik      25
dtype: int64

In [24]:
ser2017["Bugday"]

5

In [25]:
ser2018["Bugday"]

10

In [26]:
total = ser2017 + ser2018

In [27]:
total

Armut      NaN
Bugday    15.0
Erik      45.0
Kiraz      NaN
Mısır     25.0
dtype: float64