In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outerIndex = ["Group1"  ,"Group1" ,"Group1" ,"Group2" ,"Group2" ,"Group2" ,"Group3" ,"Group3" ,"Group3"]

In [3]:
innerIndex = ["Index1" ,"Index2" ,"Index3" ,"Index1" ,"Index2" ,"Index3" ,"Index1" ,"Index2" ,"Index3"]

In [5]:
list(zip(outerIndex ,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [32]:
hierarchy = list(zip(outerIndex ,innerIndex))

In [33]:
hierarchy

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [24]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [25]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [26]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [34]:
hierarchy = list(zip(outerIndex,innerIndex))
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [35]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [36]:
hierarchy = zip(outerIndex ,innerIndex)

In [37]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [38]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [39]:
df = pd.DataFrame(randn(9,3) ,hierarchy ,columns = ["A" ,"B" ,"C"])

In [40]:
df

                      A         B         C
Group1 Index1 -0.992557  1.003453  0.070728
       Index2  2.636614  0.561776 -0.051688
       Index3  2.555703  0.611833 -0.822338
Group2 Index1 -0.624778  0.454073 -0.600606
       Index2 -0.183107 -1.073816 -0.517908
       Index3 -0.352971 -0.347822  1.539785
Group3 Index1 -0.130529  2.172728 -0.578529
       Index2  0.506535 -0.025549 -0.286661
       Index3 -1.332947  0.684899  0.169226

In [41]:
df["A"]

Group1  Index1   -0.992557
        Index2    2.636614
        Index3    2.555703
Group2  Index1   -0.624778
        Index2   -0.183107
        Index3   -0.352971
Group3  Index1   -0.130529
        Index2    0.506535
        Index3   -1.332947
Name: A, dtype: float64

In [42]:
df.loc["Group1"]

               A         B         C
Index1 -0.992557  1.003453  0.070728
Index2  2.636614  0.561776 -0.051688
Index3  2.555703  0.611833 -0.822338

In [44]:
df.loc["Group2"]

               A         B         C
Index1 -0.624778  0.454073 -0.600606
Index2 -0.183107 -1.073816 -0.517908
Index3 -0.352971 -0.347822  1.539785

In [45]:
df.loc["Group3"]

               A         B         C
Index1 -0.130529  2.172728 -0.578529
Index2  0.506535 -0.025549 -0.286661
Index3 -1.332947  0.684899  0.169226

In [50]:
df.loc[["Group1" ,"Group2"]]

                      A         B         C
Group1 Index1 -0.992557  1.003453  0.070728
       Index2  2.636614  0.561776 -0.051688
       Index3  2.555703  0.611833 -0.822338
Group2 Index1 -0.624778  0.454073 -0.600606
       Index2 -0.183107 -1.073816 -0.517908
       Index3 -0.352971 -0.347822  1.539785

In [54]:
df.loc[["Group1" ,"Group2"]]

                      A         B         C
Group1 Index1 -0.992557  1.003453  0.070728
       Index2  2.636614  0.561776 -0.051688
       Index3  2.555703  0.611833 -0.822338
Group2 Index1 -0.624778  0.454073 -0.600606
       Index2 -0.183107 -1.073816 -0.517908
       Index3 -0.352971 -0.347822  1.539785

In [55]:
df.loc["Group1"].loc["Index1"]

A   -0.992557
B    1.003453
C    0.070728
Name: Index1, dtype: float64

In [56]:
df.index.names

FrozenList([None, None])

In [57]:
df.index.names = ["Groups" ,"Indexes"]

In [58]:
df

                       A         B         C
Groups Indexes
Group1 Index1  -0.992557  1.003453  0.070728
       Index2   2.636614  0.561776 -0.051688
       Index3   2.555703  0.611833 -0.822338
Group2 Index1  -0.624778  0.454073 -0.600606
       Index2  -0.183107 -1.073816 -0.517908
       Index3  -0.352971 -0.347822  1.539785
Group3 Index1  -0.130529  2.172728 -0.578529
       Index2   0.506535 -0.025549 -0.286661
       Index3  -1.332947  0.684899  0.169226

In [59]:
df.loc["Group1"].loc["Index1"]["A"]

-0.9925569526566198

In [60]:
df.xs("Group1")

                A         B         C
Indexes
Index1  -0.992557  1.003453  0.070728
Index2   2.636614  0.561776 -0.051688
Index3   2.555703  0.611833 -0.822338

In [61]:
df.xs("Group1").xs("Index3")

A    2.555703
B    0.611833
C   -0.822338
Name: Index3, dtype: float64

In [62]:
df.xs("Group1").xs("Index1").xs("B")

1.0034531721181035

In [63]:
df.xs("Index1" ,level = "Indexes")

               A         B         C
Groups
Group1 -0.992557  1.003453  0.070728
Group2 -0.624778  0.454073 -0.600606
Group3 -0.130529  2.172728 -0.578529