In [1]:
import numpy as np
import pandas as pd

In [2]:
data_list = [10 ,20, 30, 40 ,50]

In [5]:
labels_list = ["Mustafa" ,"Ali" ,"Elif" ,"Semanur" ,"Kerim"]

In [6]:
pd.Series(data = data_list)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
pd.Series(data = data_list , index = labels_list)

Mustafa    10
Ali        20
Elif       30
Semanur    40
Kerim      50
dtype: int64

In [8]:
npArray = np.array([10 ,20 ,30 ,40 ,50])

In [9]:
pd.Series(data = npArray)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [12]:
pd.Series(data = npArray , index = labels_list)

Mustafa    10
Ali        20
Elif       30
Semanur    40
Kerim      50
dtype: int32

In [13]:
pd.Series(data = npArray , index = ["a" ,"b" ,"c" ,"d" ,"e"])

a    10
b    20
c    30
d    40
e    50
dtype: int32

In [14]:
datadict = {"kadir" : 30 ,"Kemal" : 70 , "ali" : 40}

In [16]:
pd.Series(datadict)

kadir    30
Kemal    70
ali      40
dtype: int64

In [17]:
ser2017 = pd.Series([5,10,15,20] ,["bugday" ,"mısır" ,"kiraz" ,"elma"])

In [18]:
ser2018 = pd.Series([2,3,4,5] ,["bugday" ,"mısır" ,"armut" ,"elma"])

In [19]:
ser2017

bugday     5
mısır     10
kiraz     15
elma      20
dtype: int64

In [20]:
ser2018

bugday    2
mısır     3
armut     4
elma      5
dtype: int64

In [21]:
total = ser2017 + ser2018

In [22]:
total

armut      NaN
bugday     7.0
elma      25.0
kiraz      NaN
mısır     13.0
dtype: float64

In [23]:
total[3]

nan

In [24]:
total[2]

25.0

In [25]:
total["elma"]

25.0

AttributeError: 'Series' object has no attribute 'value'

In [36]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [40]:
df = pd.DataFrame(randn(4,3) ,["A" ,"B" ,"C" ,"D"]  ,["Column1" ,"Column2" ,"Column3"])

In [41]:
df

    Column1   Column2   Column3
A -2.611608  0.942882  0.628631
B  1.204957  0.641149 -1.625207
C -1.376263 -0.666886  1.645614
D -0.285220 -1.161569 -1.806208

In [42]:
df > -1

   Column1  Column2  Column3
A    False     True     True
B     True     True    False
C    False     True     True
D     True    False    False

In [43]:
dfBool = df > -1

In [44]:
df[dfBool]

    Column1   Column2   Column3
A       NaN  0.942882  0.628631
B  1.204957  0.641149       NaN
C       NaN -0.666886  1.645614
D -0.285220       NaN       NaN

In [45]:
df

    Column1   Column2   Column3
A -2.611608  0.942882  0.628631
B  1.204957  0.641149 -1.625207
C -1.376263 -0.666886  1.645614
D -0.285220 -1.161569 -1.806208

In [46]:
df["Column1"]

A   -2.611608
B    1.204957
C   -1.376263
D   -0.285220
Name: Column1, dtype: float64

In [47]:
df["Column1"] > -1

A    False
B     True
C    False
D     True
Name: Column1, dtype: bool

In [48]:
df[df["Column1"] > -1]

    Column1   Column2   Column3
B  1.204957  0.641149 -1.625207
D -0.285220 -1.161569 -1.806208

In [49]:
df

    Column1   Column2   Column3
A -2.611608  0.942882  0.628631
B  1.204957  0.641149 -1.625207
C -1.376263 -0.666886  1.645614
D -0.285220 -1.161569 -1.806208

In [50]:
df[df["Column3"] > 3]

Empty DataFrame
Columns: [Column1, Column2, Column3]
Index: []

In [51]:
df

    Column1   Column2   Column3
A -2.611608  0.942882  0.628631
B  1.204957  0.641149 -1.625207
C -1.376263 -0.666886  1.645614
D -0.285220 -1.161569 -1.806208

In [52]:
df["Column4"] = pd.Series(randn(4) ,index =["A" ,"B" ,"C" ,"D"])

In [53]:
df

    Column1   Column2   Column3   Column4
A -2.611608  0.942882  0.628631 -2.045678
B  1.204957  0.641149 -1.625207  0.338672
C -1.376263 -0.666886  1.645614  0.401252
D -0.285220 -1.161569 -1.806208 -0.579935

In [54]:
df["Column5"] = randn(4)

In [55]:
df

    Column1   Column2   Column3   Column4   Column5
A -2.611608  0.942882  0.628631 -2.045678  0.995221
B  1.204957  0.641149 -1.625207  0.338672  0.785693
C -1.376263 -0.666886  1.645614  0.401252 -0.742093
D -0.285220 -1.161569 -1.806208 -0.579935  0.820411

In [56]:
df["Column6"] = ["newValue1" ,"NewValue2" ,"NewValue3" ,"NewValue4"]

In [57]:
df

    Column1   Column2   Column3   Column4   Column5    Column6
A -2.611608  0.942882  0.628631 -2.045678  0.995221  newValue1
B  1.204957  0.641149 -1.625207  0.338672  0.785693  NewValue2
C -1.376263 -0.666886  1.645614  0.401252 -0.742093  NewValue3
D -0.285220 -1.161569 -1.806208 -0.579935  0.820411  NewValue4

In [58]:
df.set_index("Column6")

            Column1   Column2   Column3   Column4   Column5
Column6
newValue1 -2.611608  0.942882  0.628631 -2.045678  0.995221
NewValue2  1.204957  0.641149 -1.625207  0.338672  0.785693
NewValue3 -1.376263 -0.666886  1.645614  0.401252 -0.742093
NewValue4 -0.285220 -1.161569 -1.806208 -0.579935  0.820411

In [59]:
df.set_index("Column6" ,inplace =True)

In [60]:
df

            Column1   Column2   Column3   Column4   Column5
Column6
newValue1 -2.611608  0.942882  0.628631 -2.045678  0.995221
NewValue2  1.204957  0.641149 -1.625207  0.338672  0.785693
NewValue3 -1.376263 -0.666886  1.645614  0.401252 -0.742093
NewValue4 -0.285220 -1.161569 -1.806208 -0.579935  0.820411

In [61]:
df.index.names

FrozenList(['Column6'])

In [62]:
import numpy as np
import pandas as pd

In [64]:
from numpy.random import randn

In [65]:
randn(3,3)

array([[-0.9060768 , -2.25154674,  0.19820411],
       [-0.27411378,  0.04872273, -1.96004444],
       [-0.52457459,  0.34003215, -0.31968778]])

In [67]:
df = pd.DataFrame(randn(3,3) ,index = ["A" ,"B" ,"C"] ,columns = ["Column1" ,"Column2" ,"Column3"])

In [68]:
df

    Column1   Column2   Column3
A  0.392923 -0.018906  0.127325
B -1.434301 -0.382690 -0.379339
C  0.360202 -0.666572  0.026930

In [69]:
df["Column1"]

A    0.392923
B   -1.434301
C    0.360202
Name: Column1, dtype: float64

In [70]:
type(df["Column1"])

pandas.core.series.Series

In [71]:
type(df.loc["A"])

pandas.core.series.Series

In [72]:
df.loc["A"]

Column1    0.392923
Column2   -0.018906
Column3    0.127325
Name: A, dtype: float64

In [73]:
df[["Column1" ,"Column2"]]

    Column1   Column2
A  0.392923 -0.018906
B -1.434301 -0.382690
C  0.360202 -0.666572

In [74]:
df[("Column1" ,"Column2")]

KeyError: ('Column1', 'Column2')

In [75]:
df["Column4"]

KeyError: 'Column4'

In [76]:
df["Column4"] = pd.Series(data = randn(3) ,index= ["A" ,"B" ,"C"])

In [77]:
df

    Column1   Column2   Column3   Column4
A  0.392923 -0.018906  0.127325  0.603744
B -1.434301 -0.382690 -0.379339 -1.810338
C  0.360202 -0.666572  0.026930  1.250402

In [79]:
df["Column5"] = df["Column1"] + df["Column2"] + df["Column3"]

In [80]:
df

    Column1   Column2   Column3   Column4   Column5
A  0.392923 -0.018906  0.127325  0.603744  0.501342
B -1.434301 -0.382690 -0.379339 -1.810338 -2.196331
C  0.360202 -0.666572  0.026930  1.250402 -0.279441

In [82]:
df.drop("Column2")

KeyError: "['Column2'] not found in axis"

In [83]:
df.drop("Column2" ,axis =1)

    Column1   Column3   Column4   Column5
A  0.392923  0.127325  0.603744  0.501342
B -1.434301 -0.379339 -1.810338 -2.196331
C  0.360202  0.026930  1.250402 -0.279441

In [84]:
df.drop("A")

    Column1   Column2   Column3   Column4   Column5
B -1.434301 -0.382690 -0.379339 -1.810338 -2.196331
C  0.360202 -0.666572  0.026930  1.250402 -0.279441

In [85]:
df

    Column1   Column2   Column3   Column4   Column5
A  0.392923 -0.018906  0.127325  0.603744  0.501342
B -1.434301 -0.382690 -0.379339 -1.810338 -2.196331
C  0.360202 -0.666572  0.026930  1.250402 -0.279441

In [88]:
df.drop("Column1" ,axis = 1 , inplace =True)

In [89]:
df

    Column2   Column3   Column4   Column5
A -0.018906  0.127325  0.603744  0.501342
B -0.382690 -0.379339 -1.810338 -2.196331
C -0.666572  0.026930  1.250402 -0.279441

In [94]:
df.drop("B"   , inplace =True)

In [95]:
df

    Column2   Column3   Column4   Column5
A -0.018906  0.127325  0.603744  0.501342
C -0.666572  0.026930  1.250402 -0.279441

In [96]:
df

    Column2   Column3   Column4   Column5
A -0.018906  0.127325  0.603744  0.501342
C -0.666572  0.026930  1.250402 -0.279441

In [98]:
df[["Column2" ,"Column3"]]

    Column2   Column3
A -0.018906  0.127325
C -0.666572  0.026930

In [99]:
df.loc["A"]

Column2   -0.018906
Column3    0.127325
Column4    0.603744
Column5    0.501342
Name: A, dtype: float64

In [100]:
df.iloc[0]

Column2   -0.018906
Column3    0.127325
Column4    0.603744
Column5    0.501342
Name: A, dtype: float64

In [101]:
df.iloc[1]

Column2   -0.666572
Column3    0.026930
Column4    1.250402
Column5   -0.279441
Name: C, dtype: float64

In [102]:
df.loc["C" ,"Column2"]

-0.6665723091246059

In [105]:
df.loc[["A" ,"B"],["Column2" ,"Column3"]]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

    Column2   Column3
A -0.018906  0.127325
B       NaN       NaN

In [112]:
df[(df["Column2"] > -1) | (df["Column3"] > 1)]

    Column2   Column3   Column4   Column5
A -0.018906  0.127325  0.603744  0.501342
C -0.666572  0.026930  1.250402 -0.279441